
 html {
   font-family: Helvetica Neue, sans-serif;
 }

 body {
   background: #333;
 }

 h1 {
   color: yellow;
   font-size: 90px;
   font-weight: 200
 }

 .container {
   width: 500px;
   margin: 0 auto;
 }

 #timer-counter {
   color: green;
   font-size: 50px;
   font-weight: 600;
 }

 #timer-toggle {
   width: 100px;
   height: 40px;
   font-size: 20px;
   border: 1px solid green;
   background: #aaa;
   border-radius: 40px;
 }
